@use 'mixin.scss';

*{
    @include mixin.no-margin();
}


.wrapper{
    width: 100%;
    margin: auto;
    background-color: #f7f7f7;
}

.container{
    width: 1440px;
    margin: auto;
}

.ads{
    width: 100%;
    background-color: #93FF82;
    border-radius: 10px;
    padding: 120.5px 662px;
    text-align: center;
}

.ads h1{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

.asd h2{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px;
}

.header-first{
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
}

.nav{
    display: flex;
    gap: 37px;
    width: 895px;
    justify-content: flex-end;
    align-items: center;
}

.nav-uls{
    display: flex;
    gap: 56px;
    align-items: center;
}

.dropdown{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    list-style-type: none;
}

.search{
    width: 580px;
    background-color: #302C2C;
    border-radius: 10px;
    border: none;
    padding: 14.5px 0;
    background-image: url(dist/images/search.png);
}

.header-second{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btns{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.nav-btn{
    padding: 12px 20px;
    background-color: #FFFFFF;
    border: 2px solid #808080;
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #808080;
}

.nav-btn:nth-child(1){
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}

.switch-bg{
    width: 84px;
    height: 48px;
    background: #000000;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-white{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 4px;
}

.switch-sun{
    margin: 16.5px 12.4px 15.5px 13.5px;
}

.main-page{
    padding: 16px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-tags{
    width: 22.728%;
    padding: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.main-tags-photo{
    background: #E3E3E3;
    border-radius: 10px;
    width: 100%;
    padding: 91px 0;
}

.main-tags h3{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 18px;
    line-height: 110%;
    color: #000000;
    padding: 4px 0 12px 0;
}

.main-tag{
    display: flex;
    align-items: center;
    gap: 13px;
}

.main-tag-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-tag-photo{
    width: 72px;
    padding: 36px 0;
    background: #E3E3E3;
    border-radius: 10px;
}

.tag-btn{
    padding: 4px 8px;
    background: #93FF82;
    border: 1px solid #000000;
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.main-tag-text{
    width: 71%;
}

.main-tag-text p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.main-title{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 52.273%;
    background-color: #fff;
    border-radius: 10px;
}

.main-title-photo{
    background-color: #9C9CFF;
    border-radius: 10px;
    padding: 182px 0;
}

.main-title{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 36px;
    line-height: 110%;
    font-feature-settings: 'liga' off;
    color: #000000;
}

.main-news{
    padding: 12px 16px 15px 16px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    width: 22.728%;
    gap: 12px;
}

.main-news h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.line{
    border: 1px solid #E3E3E3;
    width: 100%;
}

.news-par p{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding-bottom: 11px;
}

.news-par span{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #777777;
}
