@use 'mixin.scss';

*{
    @include mixin.no-margin();
    font-family: 'Inter';
}


.wrapper{
    width: 100%;
    margin: auto;
    background-color: #f7f7f7;
}

.container{
    width: 1440px;
    margin: auto;
}

.ads{
    width: 100%;
    @include mixin.ads-bg();
    padding: 120.5px 0;
    margin-bottom: 16px;
}

.ads h1{
    @include mixin.ads();
    font-size: 300%;
    line-height: 58px;
}

.ads h2{
    @include mixin.ads();
    font-size: 150%;
    line-height: 29px;
}

.header-tablet{
    display: none;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.header-first{
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    gap: 271px;
}

.nav{
    width: 65.589%;
    display: flex;
    gap: 37px;
    justify-content: flex-end;
    align-items: center;
}

.nav-uls{
    display: flex;
    gap: 47px;
    align-items: center;
    justify-content: space-between;
}

.dropdown{
    font-weight: 400;
    font-size: 112.5%;
    line-height: 120%;
    color: #FFFFFF;
    list-style-type: none;
}

.dropdown img{
    vertical-align: middle;
    padding-right: 12px;
}

.search{
    width: 65.023%;
    background-color: #302C2C;
    border-radius: 10px;
    border: none;
    padding: 14.5px 0;
    background-image: url('dist/images/search.png');
}

.nav input::placeholder{
    font-weight: 400;
    font-size: 112.5%;
    line-height: 120%;
    color: #777777;
    padding-left: 16px;
}

.header-second{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.nav-btns{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.nav-btns img{
    padding-left: 170px;
}

.nav-btn{
    padding: 12px 20px;
    background-color: #FFFFFF;
    border: 2px solid #808080;
    border-radius: 8px;
    font-weight: 400;
    font-size: 125%;
    line-height: 120%;
    color: #808080;
}

.nav-btn:nth-child(1){
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}

.switch-bg{
    width: 84px;
    height: 48px;
    background: #000000;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-white{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 4px;
}

.switch-sun{
    margin: 16.5px 12.4px 15.5px 13.5px;
}

.main-page{
    padding: 16px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-tags{
    width: 22.728%;
    padding: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.main-tags-photo{
    background: #E3E3E3;
    border-radius: 10px;
    width: 100%;
    padding: 91px 0;
}

.main-tags h3{
    font-weight: 800;
    font-size: 112.5%;
    line-height: 110%;
    color: #000000;
    padding: 4px 0 12px 0;
}

.main-tag{
    display: flex;
    align-items: center;
    gap: 13px;
}

.main-tag-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-tag-photo{
    width: 72px;
    padding: 36px 0;
    background: #E3E3E3;
    border-radius: 10px;
}

.tag-btn{
    padding: 4px 8px;
    background: #93FF82;
    border: 1px solid #000000;
    border-radius: 6px;
    font-weight: 500;
    font-size: 87.5%;
    line-height: 17px;
    color: #000000;
}

.main-tag-text{
    width: 71%;
}

.main-tag-text p{
    font-weight: 400;
    font-size: 112.5%;
    line-height: 22px;
    color: #000000;
}

.main-title{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 52.273%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-title-photo{
    background-color: #9C9CFF;
    border-radius: 10px;
    padding: 182px 0;
}

.main-title{
    font-weight: 800;
    font-size: 225%;
    line-height: 110%;
    color: #000000;
}

.main-news{
    padding: 12px 16px 15px 16px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    width: 22.728%;
    gap: 12px;
}

.main-news h1{
    font-weight: 700;
    font-size: 100%;
    line-height: 19px;
    color: #000000;
}

.line{
    border: 1px solid #E3E3E3;
    width: 100%;
}

.news-par p{
    font-size: 112.5%;
    font-weight: 500;
    line-height: 25px;
    padding-bottom: 11px;
}

.news-par span{
    line-height: 22px;
    color: #777777;
}

.first{
    width: 100%;
    padding: 16px 16px 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.first-card{
    width: 32.6705%;
}

.first-card-color{
    background-color: #EA2E34;
    border-radius: 10px;
    padding: 180px 0;
}

.first-card-text{
    background-color: #000000;
    border-radius: 10px;
    padding: 16px 68px 16px 16px;
}

.first-card-text h1{
    font-weight: 800;
    font-size: 225%;
    line-height: 110%;
    color: #FFFFFF;
}

.first-card-text h2{
    font-weight: 500;
    font-size: 112.5%;
    line-height: 120%;
    letter-spacing: -0.019em;
    color: #FFFFFF;
    padding: 43px 0 16px 0;
}

.first-card-date, .second-card-date{
    display: flex;
    align-items: center;
}

.first-card-date img, .second-card-date img{
    margin: 0 5px 0 13px;
}

.first-card-date p{
    font-weight: 400;
    font-size: 75%;
    line-height: 140%;
    color: #E3E3E3;
}

.second{
    width: 100%;
    padding: 12px 16px 24px 16px;
    display: flex;
    gap: 16px;
}

.second-container{
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 66.1931818182%;
}

.second-card{
    display: flex;
    flex-direction: row;
}

.second-card-text{
    width: 49.356223%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px 52px 16px 16px;
}

.second-card-text h1{
    font-weight: 800;
    font-size: 225%;
    line-height: 110%;
    color: #000000;
}

.second-card-text h2{
    font-weight: 500;
    font-size: 112.5%;
    line-height: 120%;
    letter-spacing: -0.019em;
    color: #000000;
    padding: 43px 0 16px 0;
}

.second-card-text p{
    font-weight: 400;
    font-size: 75%;
    line-height: 140%;
    color: #000000;
}

.second-card-color{
    width: 50.64378%;
    padding: 180px 0;
    background-color: #FFC7F3;
    border-radius: 10px;
}

.second-card:nth-child(even){
    flex-direction: row-reverse;
}

.second-ads{
    width: 32.6704545455%;
    height: 920px;
    padding-top: 418px;
    @include mixin.ads-bg();
}

.second-ads h1{
    @include mixin.ads();
    font-size: 306.25%;
    line-height: 60px;
    letter-spacing: 0em;
}

.second-ads h2{
    @include mixin.ads();
    font-size: 156.25%;
    line-height: 30px;
    letter-spacing: 0em;
}

.third{
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.third-ads{
    width: 100%;
    background-color: #93FF82;
    padding: 140.5px 0;
}

.third-ads h1{
    @include mixin.ads();
    font-size: 300%;
    line-height: 58px;
    letter-spacing: 0em;
}

.third-ads h2{
    @include mixin.ads();
    font-size: 150%;
    line-height: 29px;
    letter-spacing: 0em;
}

.third-card{
    width: 100%;
    display: flex;
}

.third-card-text{
    width: 32.670454545%;
    background: #302C2C;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 24px 16px 16px 24px;
}

.third-card-text h1{
    font-weight: 800;
    font-size: 300%;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.third-card-text h2{
    font-weight: 500;
    font-size: 112.5%;
    line-height: 140%;
    color: #FFFFFF;
}

.third-card-color{
    width: 67.329545455%;
    background-color: #FFCB45;
    border-radius: 10px;
    padding: 280px 0;
}

.third-card-date p{
    font-weight: 400;
    font-size: 75%;
    line-height: 140%;
    color: #FFFFFF;
}

.third-card-date{
    display: flex;
    writing-mode: vertical-rl;
    margin-left: 55px;
}

.third-card-text-text{
    width: 82.86%;
}

.third-card-date img{
    margin: 13px 0 5px 0;
}

.third-card:nth-child(even){
    flex-direction: row-reverse;
}

.fourth{
    width: 100%;
    padding: 8px 16px 114px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.fourth-card{
    display: flex;
}

.fourth-card-add{
    background-color: #93FF82;
    border-radius: 10px;
    width: 14.204545455%;
}

.fourth-card-test{
    background-color: #EA2E34;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2613636364%;
}

.fourth-card-test p{
    transform: rotate(-90deg);
    font-weight: 700;
    font-size: 150%;
    line-height: 100%;
    color: #FFFFFF;
}

.fourth-card-text{
    background-color: #E3E3E3;
    border-radius: 10px;
    width: 81.392045455%;
    padding: 24px 66px 24px 36px;
}


.fourth-card-text h1{
    font-weight: 600;
    font-size: 262.5%;
    line-height: 110%;
    color: #000000;
}    

.fifth{
    width: 100%;
    padding: 0 16px 8px 16px;
    margin-top: -94px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.fifth-btn button{
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.019em;
    color: #FFFFFF;
    padding: 52px 0;
}

.fifth-color{
    width: 100%;
    background: #FFC7F3;
    border-radius: 10px;
    text-align: center;
    padding: 48px 121px 48px 97px;
}

.fifth-color h1{
    font-weight: 600;
    font-size: 450%;
    line-height: 100%;
    text-align: center;
    color: #000000;
    padding-top: 32px;
}

.fifth-subscribe{
    width: 100%;
    background: #000000;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    gap: 24px;
}

.fifth-subscribe input{
    width: 60%;
    background-color: #272727;
    border-radius: 10px;
    border: 0;
}

.subscribe-btn{
    width: 38.236%;
    background: #EA2E34;
    border-radius: 10px;
    border: 0;
    font-weight: 600;
    font-size: 225%;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.019em;
    color: #FFFFFF;
    padding: 50px 0;
}

.fifth-subscribe input::placeholder{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 225%;
    line-height: 100%;
    letter-spacing: -0.019em;
    color: #BEBEBE;
    padding: 32px;
}

.six{
    width: 100%;
    padding: 8px 16px;
    display: flex;
    gap: 16px;
}

.six-left-tablet{
    display: none;
}

.six-left{
    width: 32.6704545455%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 136px;
    background-color: #000000;
    border-radius: 10px;
}

.six-right{
    width: 66.1931818182%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 225%;
    line-height: 110%;
    color: #FFFFFF;
}

.six-left h1{
    font-weight: 800;
    font-size: 225%;
    line-height: 110%;
    color: #FFFFFF;
}

.six-left img{
    width: 60%;
}

.six-right-top, .six-right-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.six-right h2{
    font-weight: 800;
}

.six-right-bottom{
    font-weight: 600;
}

.six-right h2, .six-right h3{
    font-size: 100%;
}

.six-btn{
    width: 35.556%;
    background-color: #FFCB45;
    border-radius: 10px;
    font-weight: 800;
    font-size: 50%;
    line-height: 110%;
    text-align: center;
    color: #000000;
    padding: 14px 0;
}

.seven{
    width: 100%;
    padding: 8px 16px;
    display: flex;
    gap: 16px;
}

.seven-first{
    width: 66.1931818182%;
    padding: 16px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.seven-first-text{
    width: 46.779%;
}

.seven-first-text h1{
    font-weight: 800;
    font-size: 225%;
    line-height: 110%;
    color: #FFFFFF;
}

.seven-first-button{
    padding-top: 296px;
    width: 35.556%;
}

.seven-btn{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-weight: 800;
    font-size: 112.5%;
    line-height: 110%;
    text-align: center;
    color: #000000;
    padding: 14px 0;
}

.seven-second{
    width: 10.5113636364%;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 36px 36px 36px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seven-second h2{
    font-weight: 600;
    font-size: 175%;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.019em;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.seven-third{
    width: 21.023%;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.seven-third img{
    position: absolute;
}

.inst{
    left: 15.2%;
    top: 6.67%;
}

.telegram{
    left: 68.9%;
    top: 16.39%;
}

.facebook{
    left: 60px;
    top: 134px;
}

.vk{
    left: 183px;
    top: 186px;
}

.youtube{
    left: 31.11%;
    top: 82.58%;
}

.footer{
    width: 100%;
    padding: 52px 16px 0 16px;
}

.footer-tablet{
    display: none;
}



@media only screen and (max-width: 768px){
    .container{
        width: 766px;
        margin: auto;
    }

    .header{
        display: none;
    }

    .ads{
        padding: 45px 0;
        margin-bottom: 8px;
    }

    .header-tablet{
        width: 100%;
        padding: 12px 16px;
        display: flex;
        gap: 8px;
        flex-direction: column;
    }

    .header-tablet-first{
        width: 100%;
        padding: 14px 12px 14px 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        background-color: #000000;
        border-radius: 10px;
    }

    .header-tablet-first input{
        width: 48.9%;
        background-color: #302C2C;
        border-radius: 10px;
        padding: 15px 190px 11px 16px;
        border: 0;
    }

    .header-tablet-first input::placeholder{
        font-weight: 400;
        font-size: 112.5%;
        line-height: 120%;
        color: #777777;
    }

    .header-tablet-first ul{
        font-weight: 400;
        font-size: 112.5%;
        line-height: 120%;
        color: #FFFFFF;
    }

    .header-tablet-second{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .header-tablet-second button{
        background-color: #FFFFFF;
        border: 2px solid #808080;
        border-radius: 8px;
        padding: 12px 17.9px;
        font-weight: 400;
        font-size: 125%;
        line-height: 120%;
        color: #808080;
    }

    .header-tablet-second button:nth-child(1){
        background-color: #000000;
        border: 2px solid #000000;
        border-radius: 8px;
        color: #FFFFFF;
    }

    .main-page{
        padding: 12px 16px;
        flex-direction: column;
    }

    .main-title{
        order: -3;
        width: 100%;
        padding: 16px 16px 24px 16px;
        box-shadow: none;
    }

    .main-tags{
        width: 100%;
        flex-direction: row;
        padding: 24px;
        gap: 16px;
    }

    .main-tags-photo{
        padding: 114px 0;
    }

    .main-tags h3{
        padding: 12px 0 0 0;
    }

    .main-tags-photo-text{
        width: 50%;
    }

    .main-tag-div{
        width: 50%;
        gap: 32px;
    } 

    .main-news{
        width: 100%;

    }

    .first{
        padding: 12px 16px;
    }

    .first-card:nth-child(3){
        display: none;
    }

    .first-card{
        width: 48.7%;
        background-color: #000000;
        border-radius: 10px;
        padding: 12px;
    }

    .first-card-text h2, .second-card-text h2{
        display: none;
    }

    .first-card-text, .second-card-text{
        display: flex;
        flex-direction: column;
        padding: 12px 0 0 0;
    }

    .first-card-date, .second-card-date{
        order: -7;
    }

    .first-card-color{
        padding: 120px 0;
    }

    .first-card-text h1{
        font-weight: 700;
        font-size: 125%;
        line-height: 100%;
        color: #FFFFFF;
        padding-top: 12px;
    }

    .second{
        padding: 12px 16px;
    }

    .second-ads{
        display: none;
    }

    .second-container{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 18px;
    }

    .second-card, .second-card:nth-child(even){
        flex-direction: column-reverse;
        width: 48.7%;
    }

    .second-card-color{
        padding: 141px 0;
        width: 100%;
    }

    .second-card-text{
        width: 100%;
        padding: 12px;
    }

    .second-card-text h1{
        font-weight: 700;
        font-size: 125%;
        line-height: 100%;
        color: #000000;
        padding-top: 12px;
    }

    .third-ads{
        display: none;
    }

    .third{
        padding: 12px 16px;
        gap: 18px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .third-card, .third-card:nth-child(even){
        flex-direction: column-reverse;
        width: 48.7%;
    }

    .third-card-color{
        width: 100%;
        padding: 140px 0;
    }

    .third-card-text{
        width: 100%;
        padding: 12px;
    }

    .third-card-text h1{
        font-weight: 800;
        font-size: 225%;
        line-height: 110%;
        color: #FFFFFF;
        width: 100%;
        margin-bottom: 43px;
    }

    .third-card-text h2{
        display: none;
    }

    .third-card-date{
        writing-mode: unset;
        margin-left: 0;
    }

    .third-card-date img{
        margin: 0 5px 0 13px;
    }

    .third-card-text-text{
        width: 100%;
    }

    .fourth{
        padding: 12px 16px;
        gap: 8px;
    }

    .fourth-card-add{
        width: 19.514%;
    }

    .fourth-card-test{
        width: 8.176%;
    }

    .fourth-card-text{
        width: 74.25%;
        padding: 34px 32px 34px 24px;
    }

    .fourth-card-text h1, .fourth-card-test p{
        font-weight: 700;
        font-size: 150%;
        line-height: 100%;
    }

    #second{
        display: none;
    }

    .fifth{
        margin-top: 0;
        padding: 12px 16px;
    }

    .fifth-btn{
        display: none;
    }

    .fifth-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .fifth-color{
        padding: 32px 24px;
    }

    .fifth-color img{
        width: 30.76%;
    }

    .fifth-color h1{
        padding-top: 24px;
        font-weight: 600;
        font-size: 300%;
        line-height: 110%;
    }

    .fifth-subscribe{
        flex-direction: column;
        padding: 24px;
        gap: 24px;
    }

    .fifth-subscribe input{
        width: 100%;
        padding: 41px 0;
    }

    .subscribe-btn{
        width: 100%;
        font-weight: 600;
        font-size: 320.25%;
        line-height: 100%;
    }

    .fifth-subscribe input::placeholder{
        font-weight: 500;
        font-size: 320.25%;
        line-height: 120%;
        text-align: center;
    }

    .six{
        flex-direction: column;
        gap: 16px;
        padding: 4px 16px;
    }

    .six-left{
        display: none;
    }

    .six-left-tablet{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 470px;
        padding: 24px;
        background-color: #FFFFFF;
        border-radius: 20.5014px;
    }

    .six-left-tablet h1{
        font-weight: 800;
        font-size: 300%;
        line-height: 110%;
    }

    .six-left-tablet img{
        width: 73.762%;
    }

    .six-right{
        width: 100%;
        padding: 24px;
        font-size: 300%;
        line-height: 110%;
        gap: 35px;
    }

    .six-right-top, .six-right-bottom{
        flex-direction: column;
        align-items: flex-start;
    }

    .six-right-bottom{
        order: -1;
        gap: 35px;
    }

    .six-right-top{
        gap: 24px;
    }

    .six-right h2, .six-right h3{
        font-weight: 600;
    }

    .six-btn{
        width: 100%;
        background-color: #FF4308;
        color: #fff;
        font-weight: 800;
        font-size: 75%;
        line-height: 110%;
        padding: 29px 0;
    }

    .seven{
        flex-wrap: wrap;
        padding: 12px 16px;
    }

    .seven-first{
        width: 100%;
        flex-direction: column;
        padding: 12px;
    }

    .seven-first-text{
        width: 100%;
    }

    .seven-first-text h1, .seven-btn{
        font-weight: 600;
        font-size: 262.5%;
        line-height: 110%;
    }

    .seven-first-button{
        width: 100%;
        padding-top: 118px;
    }

    .seven-btn{
        padding: 30.5px 0;
    }

    .seven-second{
        width: 164px;
        padding: 30px 62px;
    }

    .seven-second h2{
        font-weight: 800;
        font-size: 225%;
        line-height: 110%;
    }

    .seven-third{
        width: 554px;
        padding: 318.5px 0;
    }

    .inst{
        left: 16.6%;
        top: 7.72%;
        width: 16.608%;
    }

    .telegram{
        left: 69.09%;
        top: 18.98%;
        width: 18.42%;
    }

    .facebook{
        left: 90.21px;
        top: 274.72px;
        width: 19.5%;
    }

    .vk{
        left: 342.38px;
        top: 381.33px;
        width: 18.5%;
    }

    .youtube{
        top: 78.46%;
        bottom: 9.32%;
        width: 18.4%;
    }

    .footer{
        display: none;
    }

    .footer-tablet{
        display: flex;
        padding: 4px 16px 17px 16px;
    }
}